<section class="container">
  <div class="jumbotron">
    <h1>DIY Skills &amp; Challenges</h1>
   <div class=form-group>
    <input ng-model="query" placeholder="Search" autofocus class="form-control">

    <label>Sort by:
      <select ng-model="skillOrder" class="form-control">
        <option value="title" selected>Skill Name</option>
        <option value="stamp">Date Added</option>
      </select>
    </label>

     <label>
      <input type="radio"ng-model="direction" name="direction" checked>
      <span class="glyphicon glyphicon-sort-by-alphabet"></span> Asc

      <input type="radio" ng-model="direction" name="direction" value="reverse">
    <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span> Desc
  </label>
   
  </div>
      </div>
  <ul class="skilllist" ng-show="query">
    <li ng-animate="'animate'" class="skill cf" ng-repeat="item in skills | filter: query | orderBy: skillOrder:direction">
      <a href="#/details/{{skills.indexOf(item)}}">
        <img ng-src="{{item.images.medium}}" alt="Photo of {{item.title}}">
        <div class="info">
          <h2>{{item.title}}</h2>
          <h3>diy.org/skills/{{item.url}}</h3>
        </div>
      </a>
    </li>
  </ul>  
</section>